 @media screen (max-width:600px)  {
    .main{
        padding: auto;
        
    }
    
 }


.index{
    display: flex;
    gap: 20px;
    font-size: xx-small;
    background-color: rgb(101, 85, 250);
    color: white;
}
.index button{
    border: 1px;
    border-radius: 10px;
    width: 100px;
    background-color: greenyellow;
    border: 0px;
    
}
.index img{
    height: 50px;
}
.content{
    display: block;
background-image: url('./1pic.png.png');
background-repeat: no-repeat;
background-position: center;
color: white;
background-size: cover;
padding: 20px;


}
.content p{
    width: 60%;
}
.content button{
    padding: 10px;
    gap: 10px;
   height: 30px;
    border-radius: 20px;
    background-color: rgb(165, 243, 86);
    }
.middle{
    display: flex;
    padding: 20px;
 
}
.middle h5{
    color: rgb(94, 185, 4);
}
.middle button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
    height: 30px;
    border: 0px;
    
}
.middle p{
    width:70%;
}
.middle img{
    height: 300px;
    width: 300px;
}
.middle2 p{
    width: 80%;
}
.middle2{
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}
.middle2 button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}
.middle2 img{
    height: 300px;
    width: 300px;
}
.homeloan{
    width: 80%;
    display: flex;
    gap: 30px;
    padding: 20px;

}
.homeloan img{
    height: 300px;
    width: 300px;
}
.homeloan button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}
.loan{
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
}
.loan img{
    height: 300px;
    width: 300px;
}
.loan button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}
.loan p{
    width: 80%;
}
.draft{
    width: 80%;
    display: flex;
    gap: 30px;
    padding: 20px;
}
.draft img{
    height: 300px;
    width: 300px;
}
.draft button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}
.professional{
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 20px;
}
.professional img{
    height: 300px;
    width: 300px;  
}
.professional button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}
@media (max-width:500px) {
        .professional{
            width: 40%;
            display: flex;
            flex-direction: row-reverse;
            gap: 10px;
            padding: 100px;
        }
        .professional img{
            height: 150px;
            width: 150px;  
        }
        .professional button{
            height: 20px;
            width: 100px;
            border-radius: 10px;
           border: 0px;
        }
    
}
    

.education{

    width: 80%;
    display: flex;
    gap: 30px;
    padding: 20px;
}
.education img{
    height: 300px;
    width: 300px;  
}
.education button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}


    

.vehicle{

    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
    padding: 20px;
}
.vehicle img{
    height: 300px;
    width: 300px;  
}
.vehicle button{
    height: 30px;
    width: 150px;
    border-radius: 20px;
   border: 0px;
}